<% layout("/layouts/boilerPlate")%>
<style>
#filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.filters{
    text-align: center;
    margin-top: 1rem;
    margin-left: 1rem;
    opacity: .7;
   
}
.filters i{
    font-size:1.5rem;
}
.filters p{
    font-size:small;
}
.filters:hover {
    opacity: 1;
    cursor: pointer;
}   
.filterIcon{
  margin-left: 4rem;
  border: 1px lightgray solid;
  border-radius: 10px;
  width: 5.6rem;
  height: 3.1rem;
  text-align: center;
  align-items: center;
  display: flex;
  align-items: center;
  padding: 1rem;
font-size: smaller;
cursor: pointer;
}
.price{
margin-left: .4rem;
  padding: 1rem;
  font-weight: 600;
}
.price i{
  font-size: 1.2rem;
}
</style>
<body>
   <div id="filters">
    <div class="filters">
     <div> <i class="fa-solid fa-fire-flame-curved"> </i></div>
      <p>  Trending</p>
    </div>
    <div class="filters">
        <div> <i class="fa-solid fa-tent"></i></div>
         <p> Camping</p>
       </div>
       <div class="filters">
        <div><i class="fa-solid fa-chess-rook"></i></div>
         <p>  Castles</p>
       </div>
       <div class="filters">
        <div> <i class="fa-solid fa-tractor"></i></div>
         <p>  Farms</p>
       </div>
       <div class="filters">
        <div><i class="fa-solid fa-bed"></i></div>
         <p>  Rooms</p>
       </div>
       <div class="filters">
        <div><i class="fa-solid fa-person-swimming"></i></div>
         <p>  Pool</p>
       </div>
       <div class="filters">
        <div> <i class="fa-solid fa-igloo"></i></div>
         <p>  Arctic</p>
       </div>
       <div class="filters">
        <div><i class="fa-solid fa-tree-city"></i></div>
         <p> TreeHouse</p>
       </div>
       <div class="filters">
        <div> <i class="fa-solid fa-water"></i></div>
         <p>  Lake</p>
       </div>
       <div class="filters">
        <div> <i class="fa-solid fa-umbrella-beach"></i></div>
         <p>  Beach</p>
       </div>
       <div class="filters">
        <div><i class="fa-solid fa-temperature-full"></i></div>
         <p> Desert</p>
       </div>
       <div class="filters">
        <div><i class="fa-solid fa-volleyball"></i></div>
         <p>  Play</p>
       </div>
       <div class="filters">
        <div><i class="fa-solid fa-sailboat"></i></div>
         <p>Boat</p>
       </div>
       <div class="filterIcon">
        <a><i class="fa-solid fa-sliders" style="margin-right: 4px;"></i>Filters</a>
       </div>
       <div class="price"><i class="fa-solid fa-tag"></i>Prices include all fees</div>
   </div>
   

        <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">
            <%for(let list of allListing){%>
            <div class="col">
                <a href="/listings/<%=list._id%>">
                    <div class="card cardlisting h-100">
                    <img src="<%=list.image.url%>" class="card-img-top" alt="IMAGE" style="height: 20rem; object-fit: cover;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                      <p class="card-text"><b><%= list.location%>, <%= list.country%></b></p>
                      <p class="card-text"><%= list.description%></p>
                      <p class="card-text">&#8377;<b><%= list.price.toLocaleString("en-IN")%></b>/Day</p>
                    </div>
                </div></a>
            </div>
        <%}%>
    </div>
</body>


